<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project2</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>Main.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>reports</servlet-name>
    <servlet-class>fabflix.Predicate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reports</servlet-name>
    <url-pattern>/reports/like-predicate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reports1</servlet-name>
    <servlet-class>fabflix.ConnectionPooling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reports1</servlet-name>
    <url-pattern>/reports/connection-pooling</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reports2</servlet-name>
    <servlet-class>fabflix.Signature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reports2</servlet-name>
    <url-pattern>/reports/signature</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dashboard</servlet-name>
    <servlet-class>fabflix.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/_dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reports3</servlet-name>
    <servlet-class>fabflix.XML_Parsing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reports3</servlet-name>
    <url-pattern>/reports/xml_parsing_optimization</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAndroid</servlet-name>
    <servlet-class>fabflix.LoginAndroid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAndroid</servlet-name>
    <url-pattern>/servlet/LoginAndroid</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>reports4</servlet-name>
    <servlet-class>fabflix.LoadBalancer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reports4</servlet-name>
    <url-pattern>/reports/load_balancing_android_steps</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>MovieDB</description>
    <res-ref-name>jdbc/MovieDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>